@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html{
  font-size:10px;
}


html,
body{
  
  margin:0 auto;
  padding:0;
  font-family:'Open Sans', sans-serif;
  font-size:1.2rem;
  line-height: 1;
  font-weight:300;
}
html,
body,
#root,
.App{
  height:100vh;
  display:relative;
  //background-color:yellow;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}



a{
  text-decoration: none;
  cursor:pointer;
}

a, a:hover{
  transition:all .4s ease-in-out;
}
.fullHeight{
  display:flex;
  height:100vh;
  width:100%;
  overflow-y:hidden;
  //background-color:red;
  flex-direction: column;
  .main{
    
    padding:2rem 0;
    width:100%;
    //height:calc(100% - 5.54rem - 50px );
    //height:50rem;
    //background-color:green;
    flex:1;
    max-width:850px;
    padding:0;
    margin:0 auto;
    overflow-y:auto;
    
    
  }
}
.adjusth{
  //height:calc(100% - 5.54rem - 50px);
  flex:1;
}


.adminLayout{
  height:100vh;
  display:flex;
  flex-direction:column;
  overflow-y:hidden;
  .controlPanel{
    overflow-y:auto;
    flex:1;
    display:flex;
    flex-direction:row;
    .sidebar{
      width:150px;
      border-right:1px solid #d3d3d3;
      //background-color:red;
    }
    .content{
      //background-color:blue;
      flex:1;
      overflow-y:auto;
    
    }
    
  }
}

